* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(
      rgba(10, 10, 20, 0.5),
      rgba(22, 22, 56, 0.5)
    ),
    url(./images/Rectangle\ 1.png);
}

.Agent_header{
  text-align: center;
  justify-content: center;
  color: white;
}
.Agent--login {
  background-color: white;
  width: 40%;
  height: 80vh;
  margin: 15px auto;
  border-radius: 10px;
  padding: 15px 45px;
}

.Agent--login h2 {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 30px;
}

.Agent--form input {
  margin: 15px 20px;
  padding: 20px 15px;
  width: 90%;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
}

.Agent--option {
  padding: 20px;
  text-align: center;
}

.Agent--option button {
  width: 30em;
  height: 3em;
}
.Agent--option.login--check p {
  margin: 50px 0px 35px;
  padding: 35px;
}
.Agent--forgot-password {
  color: red;
  display: inline-block;
  padding-left: 50px;
}

.Agent--keep {
  display: flex;
  padding: 25px 25px;
}
.Agent--keep span {
  margin-left: 25px;
  margin-left: 10em;
}
.Agent--keep p {
  padding-left: 3px;
  font-size: 15px;
  font-family: sans-serif;
}

.Agent--keep-btn {
  text-align: center;
}

.Agent--keep-btn button {
  width: 90%;
  height: 50px;
  background-color: lawngreen;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
