* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


.Homeseeker--header{


  text-align: center;
  justify-content: center;
  color: white;
}


.signup--logo span {
  color: green;
  font-size: large;
  font-weight: bolder;
}
.signup--header {
  width: 40em;
  height: 35em;
  margin: 25px auto;
  background-color: white;
  border-radius: 10px;
}

.signup--header h2 {
  color: black;
  text-align: center;
  padding-top: 35px;
  line-height: 2em;
}

.signup--header :placeholder-shown {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup--header input {
  padding: 12px 15px;
  margin: 10px;
  margin-left: 25px;
  font-size: 5px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
}

.btn--next {
  width: 90%;
  margin: 30px;
  height: 50px;
  background-color: lawngreen;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.signup--option {
  text-align: center;
  margin-top: 20px;
}

body{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 128, 0.5), rgba(0, 0, 128, 0.5)), url('./images/Rectangle\ 1.png');
  background-size: cover;
  background-position: center;
}