*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
  }
  body{
    width: 100%;
    background-color: #F5F5F5;
  
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    background: #091A2B;
    width: 20%;
    height: 100vh;
    color: #F5F5F5;
    padding: 40px 60px;
  }
  nav > a > img{
    width: 150px;
    display: flex;
    justify-content: center;
  }
  .nav-links{
    margin-top: -120px;
  }
  .nav-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .nav-items > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .nav-items > div hr{
    border: .1px solid #44607b;
  }
  .nav-item{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    font-weight: 100;
  }
  .nav-item > a{
    text-decoration: none;
    color: #F5F5F5;
    font-weight: 100;
  }
  .logout{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .logout > hr{
    border: .1px solid #44607b;
  }

  main{
    width: 80%;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: scroll;
  }

  .greeting{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .greeting > h4{
    font-size: 25px;
    font-weight: 100;
    letter-spacing: -1.0px;
  }
  .greeting > h4 span{
    font-weight: 600;
  }
  .logged{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .logged-text{
    display: flex;
    flex-direction: column;
  }
  .logged-text p{
    font-weight: 300;
    font-size: 14px;
  }
  .logged-text h5{
    font-weight: 500;
    letter-spacing: -.5px;
    font-size: 16px;
  }

  .main{
    display: flex;
    /* gap: 10px; */
    /* width: 40%; */
    align-items: center;
    justify-content: space-between;

  }
  .hero-search{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 15px 50px;
    /* margin-left: -120px; */
    background: #fff;
  }
  .main button{
    height: auto;
    border-radius: 8px;
    padding: 22px 30px;
    background-color: #cdff7a;
    border: none;
  }
  .search-items{
    color: #091a2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }
  .search-items hr{
    height: 50px;
    border: .5px solid #DFE1E3;
    border-radius: 2px;
  }
  .search-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }
  .search-item select{
    border: none;
    /* padding: 10px; */
  }
  .search-item select:focus{
    outline: none;
    border: none;
  }
  .search-item label{
    font-size: 14px;
    color: #ADADAD;
  }
  .search-item select option{
    font-size: 50px;
  }


  .trending{
    background: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 11px;
  }

  .trending h5{
    font-weight: 500;
    font-size: 16px;
  }
 .t-homes{
    display: flex;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
    overflow-x: scroll;
    /* height: fit-content; */
 }

.listing-details{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listing{
    height: fit-content;
    width: 30%;
    /* border: .1px solid black; */
    border-radius: 12px;
    /* padding-bottom: 20px; */
    border-radius: 11px;
    background: #FFF;
    box-shadow: -2px 1px 15px 0px rgba(0, 0, 0, 0.10);
}
.listing-img{
    background: url(images/houses/1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img1{
    background: url(images/houses/1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img2{
    background: url(images/houses/2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img3{
    background: url(images/houses/3.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img4{
    background: url(images/houses/4.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img5{
    background: url(images/houses/5.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img6{
    background: url(images/houses/6.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img .listing-labels{
    display: flex;
}
.new-label{
    color: #ffffff;
    background-color: #299EE0;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}
.rent-label{
    color: #ffffff;
    background-color: #69AA00;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}
.sale-label{
    color: #ffffff;
    background-color: #DE2D77;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price button{
    background: #091A2B;
    color: #fff;
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
}
.listing-location{
    font-size: 14px;
    color: #8E8E8E;
}
.listing-agent{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.listing-agent img:nth-child(1){
    width: 25px;
}
.label{
    background: #EBEBEB;
    width: fit-content;
    padding: 8px 12px;
    align-items: center;
    display: flex;
    gap: 8px;
    border-radius: 5px;
}
.label span{
    font-size: 12px;
    font-weight: 700;
}
.feature-icons{
    display: flex;
    gap: 5px;
}
.icon-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.icon-time p{
    font-size: 12px;
    color: #8E8E8E;
}
.add-btn{
    background: #d6d6d6;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: #F5F5F5;
    border-radius: 50%;
}
.add-btn img{
    width: 8px;
}