

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'DM Sans',sans-serif;
}
a{
    text-decoration: none;
    color: #091A2B;
    font-size: 12px;
}
button{
    cursor: pointer;
}

header{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
}
nav{
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
}

nav ul{
    display: flex;
    gap: 20px;
    margin-left: -300px;
}
nav ul li{
    list-style: none;
    color: #091A2B;
    font-size: 14px;
    font-weight: 500;
}
nav .buttons{
    display: flex;
    gap: 10px;
}


.search-filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    /* border-bottom: 1px solid black; */
}
.search-side input{
    width: 300px;
    color: #091A2B;
}
.search-side select{
    color: #091A2B;
}

.search-side input::placeholder{
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 300;
}
.box{
    padding: 10px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 5px;
}
.box:focus{
    outline: none;
}


/* ------------property section --------------------- */


.property-section{
    width: 100%;
    display: flex;
    gap: 24px;
    padding: 20px 80px;
}

.listings{
    height: 86.5vh;
    width: 50%;
    border-radius: 12px;
    /* border: 1px solid #8E8E8E; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    overflow-y: scroll;
    background: transparent;
    box-shadow: -2px 1px 15px 0px rgba(0, 0, 0, 0.10);
}

.listing-details{
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.listing{
    height: fit-content;
    width: 49%;
    /* border: .1px solid black; */
    border-radius: 12px;
    /* padding-bottom: 20px; */
    border-radius: 11px;
    background: #FFF;
    box-shadow: -2px 1px 15px 0px rgba(0, 0, 0, 0.10);
}
.listing-img{
    background: url(images/h1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img-2{
    background: url(images/h2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img-3{
    background: url(images/h3.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img-4{
    background: url(images/h4.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img-5{
    background: url(images/h5.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img-6{
    background: url(images/h6.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img-7{
    background: url(images/h1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img-8{
    background: url(images/h2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.listing-img .listing-labels{
    display: flex;
}
.new-label{
    color: #ffffff;
    background-color: #299EE0;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}
.rent-label{
    color: #ffffff;
    background-color: #69AA00;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}
.sale-label{
    color: #ffffff;
    background-color: #DE2D77;
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price button{
    background: #091A2B;
    color: #fff;
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
}
.listing-location{
    font-size: 14px;
    color: #8E8E8E;
}
.listing-agent{
    font-size: 14px;
}
.label{
    background: #EBEBEB;
    width: fit-content;
    padding: 8px 12px;
    align-items: center;
    display: flex;
    gap: 8px;
    border-radius: 5px;
}
.label span{
    font-size: 12px;
    font-weight: 700;
}
.feature-icons{
    display: flex;
    gap: 5px;
}
.icon-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-time p{
    font-size: 12px;
    color: #8E8E8E;
}



.listing-display{
    height: fit-content;
    width: 50%;
    /* border: 1px solid #091A2B; */
    border-radius: 12px;
    overflow-y: scroll;
    /* padding: 10px; */
    border-radius: 10px;
    background: #FFF;
    box-shadow: -2px 1px 15px 0px rgba(0, 0, 0, 0.10);
}

.listed-img{
    background: url(images/h1-lg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.label-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listed-title{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.listed-title h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    width: 350px;
}
.listed-title h3{
    font-size: 20px;
    font-weight: 700;
    /* width: 350px; */
}
.listed-title button{
    background: #091A2B;
    color: #fff;
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
}
.more-photos-btn{
    background-color: #fff;
    color: #091A2B;
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
    transition: .4s;
}
.more-photos-btn:hover{
    background: #091A2B;
    color: #FFF;
}
.listed-location{
    font-size: 14px;
    color: #8E8E8E;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 5px;
}

.listed-agent{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.listed-details{
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border-bottom: 1px solid #091A2B80; */
}
.listing-display hr{
    /* padding: 0 30px; */
    color: rgb(9, 26, 43);
    opacity: 20%;
    margin: 0 10px;
}
.price-time{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.price-time p{
    font-size: 12px;
    font-weight: 300;
    color: #8E8E8E;
}

.description{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}
.description h4{
    font-size: 14px;
}
.description p{
    font-size: 14px;
    color: #8E8E8E;
    font-weight: 300;
}
.description p span{
    font-size: 14px;
    color: #091A2B;
    font-weight: 500;
    letter-spacing: -.5px;
}

.info{
    padding: 0px 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.features h4{
    font-size: 14px;
}
.features ol{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: auto;
}
.features ol li{
    font-size: 14px;
    color: #091A2B;
    font-weight: 300;   
    list-style: none;
}

.details{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.details h4{
    font-size: 14px;
}
.details ol{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: auto;
}
.details ol li{
    font-size: 14px;
    color: #091A2B;
    font-weight: 300;   
    list-style: none;
}

.listed-buttons{
    margin: 20px;
    display: flex;
    gap: 20px;
    /* width: 100%; */
}
.agent-profile-btn{
    padding: 10px;
    background-color: #091A2B;
    color: #ffffff;
    display: flex;
    flex: 3;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border: none;
    border-radius: 5px;

}
.book-btn{
    flex: 1;
    padding: 10px;
    background-color: #CDFF7A;
    color: #091A2B;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    border: none;
    border-radius: 5px;
}
/* 

.pagination{
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 20px;
}
.pagination div{
    background: #EBEBEB;
    color: #8E8E8E;
    border: none;
    border-radius: 50%;
    padding: 40px 40px;
} */