@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
body{
    width: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
main{
    position: relative;
    height: 100vh;
    width: 100%;
    padding-bottom: 50px;
}
.logo{
    position: relative;
    width: 100%;
    z-index: 200;
    margin-top: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    color: #091A2B;
}
.motto{
    text-align: center;
    position: absolute;
    z-index: 300;
    margin: 50px 0;
    color: #091A2B;
    padding-bottom: 20px;
    /* margin: auto; */
}
.motto span{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.5px;
}
.logo-img{
    position: relative;
    width: 150px;
    /* z-index: 200; */
    display: flex;
    justify-content: center;
}
.ellipse{
    position: absolute;
    margin-top: -40px;
}
.ellipse img{
    z-index: 1;
}  
.images-container{
    display: flex;
    gap: 16px;
    width: 100%;
    overflow-x: scroll;
    margin-top: 10px;
    z-index: 0;
}
.images-container img{
    width: 450px;
}
 

.property-title{
    padding: 20px 80px;
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.property-title h4{
    font-size: 25px;
    width: 500px;
    line-height: 28px;
    letter-spacing: -.5px;
}
.property-title h3{
    font-size: 25px;
}

.prop-title{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.prop-address{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    color: #8B8B8B;
    font-weight: 300;
}

.pricing{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}
.pricing p{
    color: #8B8B8B;
    font-weight: 300;
}


.more-info{
    width: 100%;
    position: relative;
    display: flex;
    /* margin-bottom: 40px; */
    gap: 25px;
    align-items: center;
    margin-top: 140px;
    padding: 0px 80px;
}

.map{
    width: 50%;
    filter: invert(0%);
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;

}
.disc{
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
.disc h3{
    font-size: 18px;
}
.disc p{
    font-size: 14px;
    font-weight: 400;
    color: #8B8B8B;
    text-align: justify;
    width: 600px;
    line-height: 25px;
}
.disc small{
    display: flex;
    align-items: center;
    color: #8B8B8B;
    font-size: 14px;
}
.realtor{
    display: flex;
    flex-direction: column;
    gap: 5px; 
}
.realtor h3{
    font-size: 18px;
}
.realtor p{
    font-size: 16px;
    font-weight: 500;
    /* color: #8B8B8B; */
    text-align: justify;
    width: 600px;
    line-height: 25px;
}
.realtor small{
    display: flex;
    align-items: center;
    color: #8B8B8B;
    font-size: 14px;
}


.more-stuff{
    display: flex;
    gap: 20px;
}
.more-stuff .feat{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.more-stuff .detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}
.more-stuff h3{
    font-size: 18px;

}
.more-stuff ol{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.more-stuff li{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    color: #8B8B8B;
}

.prop-btns{
    width: 100%;
    display: flex;
    gap: 10px;
}
.back{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex: 1.5;
    background-color: #091A2B;
    padding: 10px;
    border-radius: 6px;
    
}
.back button{
    background: transparent;
    color: #fff;
    border: none;
    
}
.make{
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 2.5;
    background-color: #CDFF7A;
    padding: 10px;
    border-radius: 6px;
}
.make button{
    background: transparent;
    color: #091A2B;
    border: none;
}
