@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
body{
    width: 100%;
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}

header{
    width: 100%;
    /* height: 400px; */
    background: url(images/realtors-bg.svg);
    border-radius: 0px 0px 90px 90px;
    background-repeat: no-repeat;
    /* padding: 20px 80px; */
}
header > div{
    width: 100%;
    height: 385px;
    border-radius: 0px 0px 90px 90px;
    background: rgba(9, 26, 43, 0.90);
    display: flex;
    flex-direction: column;
}
nav{
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
}
nav ul{
    display: flex;
    gap: 20px;
    margin-left: -300px;
}
nav ul li{
    list-style: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
nav .buttons{
    display: flex;
    gap: 10px;
}

.heading{
    position: relative;
    text-align: center;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.heading h4{
    color: #CDFF7A;
    font-size: 25px;
    font-weight: 500;
}
.heading p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
.heading button{
    background: transparent;
    border: 1px solid white;
    color: #ffffff;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}
.heading button a{
    color: #ffffff;
}

.searchbox input{
    width: 300px;
    color: #091A2B;
}

.searchbox input::placeholder{
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 300;
}
.searchbox{
    /* height: 48px; */
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.searchbox button{
    background: #CDFF7A;
    height: auto;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.box{
    padding: 10px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 5px;
}
.box:focus{
    outline: none;
}

.realtors{
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    justify-content: center;
}
.realtor{
    background: #FFF;
    width: fit-content;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    border-radius: 12px;
}
.realtor img{
    width: 150px;
}
.realtor-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.realtor-details h4{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.5px;
}
.realtor-details p{
    font-size: 14px;
    color: #8E8E8E;
    font-weight: 300;
    /* letter-spacing: -.5px; */
}
.realtor-details small{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -.5px;
}

.realtor h5{
    font-size: 18px;
    letter-spacing: -.5px;
    font-weight: 500;
}

.rating{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.rating p{
    font-size: 14px;
    font-weight: 300;
}
.rating img{
    width: 80px;
}
.realtor-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.realtor-buttons button{
    width: 100%;
}
.view-btn{
    background: #CDFF7A;
    color: #091A2B;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
.view-btn a{
    color: #091A2B;
}
.follow-btn{
    background: #091A2B;
    color: #FFF;
    border: none;
    padding: 7px;
    border-radius: 5px;
}
.follow-btn a{
    color: #ffffff;
}