body {
  font-family: "DM Sans", sans-serif;
}
section {
  background: url(img/Retangle\ 1.png);
  max-width: 1440px;
  min-height: 965px;
  color: #ffffff;
  column-gap: 30px;
}

div {
  max-width: 1440px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  height: 90px;
  gap: 170px;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #cdff7a;
  color: #091a2b;
  border-width: 0px;
  cursor: pointer;
  min-height: 40px;
  min-width: 135px;
}

.start {
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  border-width: 1px;
  min-height: 40px;
  min-width: 135px;
  border-color: #ffffff;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

ul {
  color: #ffffff;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.hero-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}
.swipe {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
table {
  background-color: #ffffff;
  color: #091a2b;
  min-width: 746px;
  min-height: 91px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 150px;
}

.how-it-works {
  background-image: url(img/Vector\ 5.png);
  color: #ffffff;
  max-width: 1440px;
}
.work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 130px;
}
.explore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 217px;
  padding-bottom: 100px;
}
b {
  color: #cdff7a;
  padding: 10px;
}
.become {
  background-color: #f5ffe5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1440px;
}

.sign-up {
  max-width: 889px;
  max-height: 382.76px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 62px;

  row-gap: 30px;
}
