
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
section {
  background: url(img/Retangle\ 1.png);
  max-width: 1440px;
  width: 100%;
  /* min-height: 965px; */
  height: fit-content;
  color: #ffffff;
  column-gap: 30px;
  padding-bottom: 100px;
}

h1,h2,h3,h4,h5,h6{
  letter-spacing: -1.5px;
}
button{
  cursor: pointer;
}
div {
  max-width: 1440px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  height: 90px;
  gap: 170px;
  align-items: center;
  justify-content: center;
}

.nav-btn .Login {
  background-color: #cdff7a;
  color: #091a2b;
  border-width: 0px;
  cursor: pointer;
  min-height: 40px;
  min-width: 135px;
}

.start {
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  border-width: 1px;
  min-height: 40px;
  min-width: 135px;
  border-color: #ffffff;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

ul {
  color: #ffffff;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.header ul li a{
  text-decoration: none;
  color: #ffffff;
}
.header p{
  font-size: 14px;
  text-align: center;
}

.hero-page {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}
.main{
  display: flex;
  gap: 10px;
  width: 40%;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-bottom: 10px;
}
.hero-search{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 15px 40px;
  /* margin-left: -120px; */
  background: #fff;
}
.main button{
  height: auto;
  border-radius: 8px;
  padding: 30px 30px;
  background-color: #cdff7a;
  border: none;
}
.search-items{
  color: #091a2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.search-items hr{
  height: 50px;
  border: .5px solid #DFE1E3;
  border-radius: 2px;
}
.search-item{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.search-item select{
  border: none;
  /* padding: 10px; */
}
.search-item select:focus{
  outline: none;
  border: none;
}
.search-item label{
  font-size: 14px;
  color: #ADADAD;
}
.search-item select option{
  font-size: 50px;
}
.swipe {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 150px;
  margin-top: 50px;
}
.info button{
  background-color: #cdff7a;
  color: #091a2b;
  border: none;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 25px;
}
.info .text{
  padding-top: 100px;
}
.texxt{
  padding-top: -250px;
}
.info h2{
  font-weight: 500;
  font-size: 25px;
}
.info p{
  line-height: 25px;
  letter-spacing: -.5px;
}
.how-it-works {
  background-image: url(img/Vector\ 5.png);
  color: #ffffff;
  max-width: 1440px;
}
.how-it-works h2{
  font-weight: 500;
  font-size: 25px;
}
.how-it-works p{
  line-height: 25px;
  letter-spacing: -.5px;
  font-weight: 300;
}
.work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 130px;
}
.explore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 217px;
  padding-bottom: 100px;
}
b {
  color: #cdff7a;
  padding: 10px;
}
.become {
  background-color: #f5ffe5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1440px;
}

.become p{
  font-weight: 400;
  font-size: 16px;

}
.quote{
  margin-left: -600px;
}
.sign-up {
  /* max-width: 889px; */
  /* max-height: 382.76px; */
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 82px 62px;
  margin-top: 20px;
}
.sign-up p{
  margin-top: -20px;
  color: #ADADAD;
}
.sign-up button{
  border: none;
  padding: 12px 35px;
}
